@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

 * {
    margin: 0;
    padding: 0;
    border: 0;
    position: relative;
}

html {
    overflow: hidden;
    height: 100%;
}

body {
    height: 100%;
    overflow: auto;
    font-family: 'Rubik', sans-serif;
    color: rgba(0, 0, 0, .5);
    background-color:rgb(253, 253, 150);
   
}
/** navbar **/

.navbar-custom {
    background-color:lightgrey ;
}
    

.navbar-custom .nav-item:hover .nav-link {
    color: rgb(253, 253, 150);
    text-decoration: underline;
}

.navbar-custom .navbar-toggler {
    border: none;
    text-decoration: none;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

footer {
    position: absolute;
    bottom: auto;
    width: 100%;
    background-color:rgb(255, 149, 50);
}


/**
.navbar-custom .nav-item.active .nav-link {
     color: #000000;
@media screen and (max-width: 1024px) {
    body {
        color: #000000;
        text-align: center;
    }  
}
/** 
.navbar {
    background-color: #EED971FF;
    color: #000000;
    }  

.nav-link {
    color: #000000;
}

@media screen and (max-width: 1024px) {
    body {
        color: #000000;
        text-align: center;
    }  
}
 @media screen and (max-width: 480px) {
.navbar {
    background-color: #EED971FF;
    width: 100%;
    text-align: center;
}
#logo {
    width: 10%;
    height: 10%;
}

}

Navigation

.navbar-light {
    background-color: #EED971FF;
}

 .navbar-light .navbar-nav .nav-link {
    color: rgb(255,148,71);
    font-family: 'Rubik', sans-serif;
}

.navbar-nav {
    font-family: 'Rubik', sans-serif;
    font-size: 130%;
}

.navbar-nav .nav-item {
    padding-left: 0.5em;
}

.active {
     color:rgb(0,0,0,0);
     text-decoration: underline;
}

 .nav-item a:link {
    color: rgb(255,148,71);
    text-decoration: none;
}

.nav-item a:visited {
    color:rgb(0,0,0,0);
    
}

.nav-item a:hover {
    text-decoration: underline solid;
    color:rgb(0,0,0,0);
}

.nav-item a:active {
    text-decoration: underline;
}





