
 * {
    margin: 0;
} 

/** Navigation **/

.navbar-light {
    background-color: #EED971FF;
}

 .navbar-light .navbar-nav .nav-link {
    color: rgb(255,148,71);
    font-family: 'Rubik', sans-serif;
}

.navbar-nav {
    font-family: 'Rubik', sans-serif;
    font-size: 130%;
}

.navbar-nav .nav-item {
    padding-left: 0.5em;
}

.active {
     color:rgb(0,0,0,0);
     text-decoration: underline;
}

 .nav-item a:link {
    color: rgb(255,148,71);
    text-decoration: none;
}

.nav-item a:visited {
    color:rgb(0,0,0,0);
    
}

.nav-item a:hover {
    text-decoration: underline solid;
    color:rgb(0,0,0,0);
}

.nav-item a:active {
    text-decoration: underline;
}





